# Imports

In [1]:
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from datetime import datetime
import numpy as np
from collections import Counter
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

# Questions

What do executives say

What do analysts say

How many words are spoken by both groups

How many questions are in each call?

# Get the Data

In [2]:
data_directory = '../data/raw/'
transcript_files = glob.glob(os.path.join(data_directory, '*_transcripts.json'))

all_transcripts = []

for file in transcript_files:
    transcript_df = pd.read_json(file)
    all_transcripts.append(transcript_df)

# Combine all DataFrames into a single DataFrame
combined_transcripts_df = pd.concat(all_transcripts, ignore_index=True)

print(combined_transcripts_df.head())

  symbol  quarter  year                date  \
0    AAL        3  2023 2023-10-19 12:37:10
1    AAL        2  2023 2023-07-20 11:51:04
2    AAL        1  2023 2023-04-27 11:15:04
3    AAL        4  2022 2023-01-26 12:53:07
4    AAL        3  2022 2022-10-20 14:26:04

                                             content
0  Operator: Thank you for standing by and welcom...
1  Operator: Thank you for standing by, and welco...
2  Operator: Thank you for standing by, and welco...
3  Operator: Thank you for standing by, and welco...
4  Operator: Thank you for standing by, and welco...

In [3]:
combined_transcripts_df

,symbol,quarter,year,date,content
0,AAL,3,2023,2023-10-19 12:37:10,Operator: Thank you for standing by and welcom...
1,AAL,2,2023,2023-07-20 11:51:04,"Operator: Thank you for standing by, and welco..."
2,AAL,1,2023,2023-04-27 11:15:04,"Operator: Thank you for standing by, and welco..."
3,AAL,4,2022,2023-01-26 12:53:07,"Operator: Thank you for standing by, and welco..."
4,AAL,3,2022,2022-10-20 14:26:04,"Operator: Thank you for standing by, and welco..."
...,...,...,...,...,...
292,ULCC,2,2022,2022-07-28 23:29:08,"Operator: Ladies and gentlemen, thank you for ..."
293,ULCC,1,2022,2022-04-29 17:39:29,"Operator: Good day, and thank you for standing..."
294,ULCC,3,2021,2021-11-10 22:51:03,"Operator: Ladies and gentlemen, thank you for ..."
295,ULCC,2,2021,2021-08-06 19:06:08,"Operator: Hello, and welcome to the Frontier G..."
296,ULCC,1,2021,2021-05-14 18:03:03,"Operator: Hello, and welcome to the Frontier G..."